<mat-card class = "centered-element-holder">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
      knowledge into power. kindness into peace. knot in pretzel
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      information without organization does nothing. only when you present sufficient information in a meaningful way do words become sentences, idioms, works of art.
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      so here. yet another app to take that simple little alphabet, an empty notebook, and a plain black pen and turn them into that bestselling book that nobody can put down.
    </div>
  </div>
</mat-card>
