html, body {
  height: 100%;
}

body {
  margin: 0;
}

.nav-spacer {
  flex: 1 1 auto;
}

.centered-element-holder {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

th.mat-header-cell {
  text-align: center !important;
  justify-content: center;
  vertical-align: center;
  font-weight: bold;
}

.mat-sort-header-content {
  width: 100%;
  justify-content: center;
}

td.mat-cell {
  text-align: center;
  justify-content: center;
  vertical-align: center;
}

.mat-row:hover {
  background: lightslategray;
  border: 1px seagreen;
}

table {
  border-spacing: 0 8px !important;
  width: 100%;
  margin: 5% auto;
}

tr.mat-row {
  max-height: 10% !important;
}

.mat-column-actions {
  width: 10% !important;
}

.mat-form-field {
  width: 100%;
}

::ng-deep .mat-input .mat-input-value {
  width: fit-content;
}

::ng-deep .mat-input .mat-input-placeholder {
  width: fit-content;
}

::ng-deep .mat-select .mat-select-value {
  width: fit-content;
}

::ng-deep .mat-select .mat-select-placeholder {
  width: fit-content;
}

.mat-form-field-infix {
  width: fit-content;
}

.grid-layout-custom {
  width: 77vw;
  height: 77vh;
}

.highlight-green {
  background: darkolivegreen;
}

.highlight-grey {
  background: dimgray;
}
