html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: auto;
}

.nav-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row div {
  padding: 10px;
}

.mat-card {
  padding: 10px;
  box-sizing: border-box;
  width: fit-content;
  min-width: 100%;
  height: fit-content;
  min-height: 100%;
  display: flex !important;
}

.centered-element-holder {
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100%;
  width: 100%;
}

th.mat-header-cell {
  text-align: center !important;
  justify-content: center;
  vertical-align: center;
  font-weight: bold;
}

.width-200-px {
  flex: 200px;
  min-width: 200px;
}

.width-500-px {
  flex: 500px;
  min-width: 500px;
}

.width-700-px {
  flex: 700px;
  min-width: 700px;
}

.mat-sort-header-content {
  width: 100%;
  justify-content: center;
}

.mat-cell, .mat-header-cell {
  text-align: center;
  justify-content: center;
  vertical-align: center;
  padding: 12px !important;
}

.mat-row:hover {
  background: lightslategray;
  border: 1px seagreen;
}

table {
  border-spacing: 0 8px !important;
  padding: 10px;
  position: relative;
  flex: 1 1 auto;
}

tr.mat-row {
  max-height: 10% !important;
}

.mat-column-actions {
  width: 10% !important;
}

.mat-grid-tile {
  overflow: auto !important;
  text-align: center;
  justify-content: center;
  vertical-align: center;
}

.mat-grid-tile-content {
  height: fit-content !important;
  min-height: 100%;
  width: fit-content !important;
  min-width: 100%;
  box-sizing: border-box;
  padding: 10px !important;
}

.mat-form-field {
  min-width: 300px;
  width: 100%;
  text-align: center;
}

.mat-input-ancestor-div {
  width: 100%;
}

.mat-form-field-infix {
  width: fit-content !important;
  text-align: center;
}

.grid-layout-custom {
  width: 77vw;
  height: 77vh;
}

.highlight-green {
  background: darkolivegreen;
}

.highlight-grey {
  background: dimgray;
}
