<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <h1>kip</h1>
    <span class="nav-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'">home</a>
      <a mat-button [routerLink]="'/datastore'">datastores</a>
      <a mat-button *ngIf="showAdminContent" [routerLink]="'/user'">users</a>
      <a mat-button [routerLink]="'/user/manage'" [queryParams]="userManagementParams">
        <span *ngIf="loggedIn">edit profile</span>
        <span *ngIf="!loggedIn">log in</span>
      </a>
      <a mat-button (click)="logout()" *ngIf="loggedIn">log out</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
